/* Write your CSS here */
.listItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow {
  height: 20px;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
}
